* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background-image: url(../../assets/game-2819000_1920.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}