@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    background-image: url(../../assets/game-2819000_1920.png);
/*     -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain; */
    background-size: cover;

}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}