.chatroom-footer {
    height: 10%;
    width: 100%;
    border-radius: 2px;
    color: darkblue;
    padding: 5px;
    position: relative;
}


.currentWriter {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -18px;
    left: 4px;
    padding-left: 20px;

    font-size: smaller;
    width: 100%;
    color: rgba(31, 32, 33, 0.7);
}

.currentWriter p {
    font-size: 10pt;
}

.footerContent {
    bottom: 2px;
    left: 4px;
    padding-top: 5px;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footerContent input{
    height: 80%;
    width: 80%;
    color: darkblue;

    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px 1px rgba(89, 0, 255, 0.2);
    
    text-align: left;
    padding: 2px 10px;
}

.footerContent button {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    background-color: #7C83BC;
    color: white;
    /* font-weight: ; <---------------- HÄR VAR DU LINDA */ 
    border: none;
    padding: 5px;
}