.chatroom-header {
    display: flex;
    align-items: center;
    height: 10%;
    color: purple;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.leaveChatroom--btn {

    padding: 7px;
    background-color: #895e98;
    color: white;
    border: none;
    border-radius: 10px;
}

.leaveChatroom--btn:hover {
    background-color: #6d4b79;
}