.chatroom-header{
    background-color: aliceblue;
    height: 5%;
    border-radius: 2px;
    border: 2px solid black;
    color: rgb(78, 43, 78);
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.exit-chatroom{
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: hotpink;

}