.leftPanel--div {
    width: 30%;
    height: 100%;
    background-color:#fbe4ef80;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftPanel--div > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.roomCreator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.roomCreator input {
    width: 80%;
    padding: 5px 5px;
    border: none;
}

.roomCreator button {
    width: 20%;
    height: 100%;
    border: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.319);
}

.roomCreator button:hover {
    background-color: rgba(132, 114, 154, 0.319);
    color: #9d0f7e;
}

.roomList {
    background-color: aliceblue;
    padding: 1em 0;
    max-height: 300px;
/*     overflow-y: scroll; */
}


.roomList--h3 {
    cursor: pointer;
    padding-left: 5px;
}

.roomList--h3:hover {
    background-color: rgb(210, 211, 226);
    cursor: pointer;
    border-radius: 1px;
}

.roomList div:first-child {
    font-weight: bold;
    font-size: larger;
}

.participants li {
    font-size: 9pt;
    padding-left: 10px;
    border-radius: 3px;
}

.participants li:hover {
    cursor: default;
}

.currentRoom {
color: #804772;
background-color: #80477225;
}

