.chatroom-body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.483);
    color: darkblue;
    padding: 5px;
    align-self: baseline;
    width: 100%;
}

.chatroom-body div {
    width: 75%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    word-wrap: break-word;
    
}

.recipient {
    align-self: flex-start;
    background-color: rgb(231, 209, 247);
}

.sender {
    align-self: flex-end;
    background-color: rgb(219, 236, 251);
}

.currentWriter {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2px;
    left: 4px;
    font-size: smaller;
    width: 100%;
    color: rgba(31, 32, 33, 0.7);
}

.currentWriter p {
    font-size: 10pt;
    padding-right: 6px;
}

.faFaceLaugh {

padding-top: 2px;
}
